#mysqlのデータ用フォルダ。容量が大きいため不要
for_data

#環境ファイルはパスワードなど重要な情報が記載されているため、githubにはアップしない
.env

#migrationfile等はノートPCでもmigrationしたりするので共用化しない
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__
manage.py.lprof

#バックアップやデータの移行を目的してdumpしたmysqlのデータはfor_data同様容量が大きいため、ignore
dump.sql

#証明書は本番用の環境ファイルと本番用の環境ファイルで変更できるようにignore。
#もしこれを含めないと開発用の証明書類がgitにアップロードされてしまう
/https

manage.py.lprof

#ログ出力フォルダ
log